# Maven / Gradle build
target/
build/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
out/

# STS / Spring Tool Suite
.springBeans

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Tomcat work/temp (필요시 경로 맞춰서)
work/
temp/
